:root {
    --color-greyBg : #f9f9f9;
    --color-grey : #e5e5e5;
    --color-greyLight : #e5e5e5a8;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #a1a1a1a3;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    background: white;
}
.topbar i {
    padding: 0 7.5px;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
    margin-left: 15px;
}
.searchbar form {
    border: 1px solid #ddd;
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.searchbar button {
    border-radius: 0;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
.searchbar input {
    width: 500px;
    border-radius: 0;
    border: none;
    height: 100%;
    padding: 5px;
    outline: none;
    margin-top: -5px;
}
/* .switch {
    --line: #e8ebfb;
    --dot: #275efe;
    --circle: #d3d4ec;
    --background: #fff;
    --duration: 0.3s;
    --text: #9ea0be;
    --shadow: 0 1px 3px rgba(0, 9, 61, .08);
    cursor: pointer;
    position: relative;
}
.switch::before {
    content: '';
    width: 60px;
    height: 32px;
    border-radius: 16px;
    background: var(--background);
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: var(--shadow);
}
.switch input {
    display: none;
}
.switch input + div {
    position: relative;
} */
.navbar i.userprofile img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.navbar img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

#navopener {
    display: none;
}

.sidebar {
    width: 270px;
    height: 100%;
    overflow-y: scroll;
}
.sidebar .menu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-greyLight);
    padding: 15px 0;
}
.menu h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 25px 20px;
}
.sidebar .menu-items {
    width: 100%;
    display: flex;
    padding: 12.5px 25px;
    align-items: center;
    cursor: pointer;
}
.menu-items.active {
    background: var(--color-grey);

}
.menu-items.active i {
    color: red;
}
.menu-items span {
    font-size: 14px;
}
.menu-items:hover {
    background: var(--color-greyLight);
}
.menu-items i {
    margin-right: 25px;
}

.menu-items i.userprofile {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    overflow: hidden;

}
i.userprofile img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.content {
    background: var(--color-greyBg);
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    overflow-y: scroll;
}
.content .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.grid .video {
    width: calc(25% - 10px);
    margin-bottom: 40px;
}
.video .thumbnail {
    width: 100%;
    height: 170px;
}
.thumbnail img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.video .details {
    display: flex;
    padding-top: 10px;
}
.details .author {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.author img {
    height: 40px;
    object-fit: cover;
    width: 40px;
    border-radius: 50%;
}
.details .text {
    display: flex;
    flex-direction: column;
}
.text h3{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
.text a {
    color: inherit;
    text-decoration: none;
}
.text a, .text span {
    font-size: 14px;
    margin-top: 5px;
}